S3_ACCESS_KEY_ID=your_access_key
S3_SECRET_ACCESS_KEY=your_secret_key

BUCKET_NAME=your_bucket_name

MINIO_DATA_PATH=/path/to/data

MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001


REDIS_PORT=6380
REDIS_DATA_PATH=/path/to/data

REDIS_PASSWORD=my_redis_password
REDIS_USER=my_user
REDIS_USER_PASSWORD=my_user_password